<!DOCTYPE html>
<html>
    {{template "_head.html" .Titl}
    {{template "_header.html" .Active}}
    {{template "_footer.html}}
    <head>
        <title>lemonde stand supply</title>
        <link href="/css/app.css" rel=""stylesheet />
        <a href="categories/"{{.Id}}></a>
    </head>
    <body>
        <header class="row">
            <div class="columns small-2"
            <div class="logo-container">
           <div class="logo"> </div>
           <h1>lemonade stand supply</h1>
            </div>
            </header>
            <div class="columns small-10">
                <div class="row">
                    <div class="columns small-1 small-offset-9">
                        <a class="secondary-color tiny" href="/login"> login </a>
                    </div>
                </div><div class="columns small-2">
                    <img src="/img/cart_small.png" alt="cart" />
                </div>
            </div>